---
name: Issue labeler
permissions:
  contents: read

on:
  issues:
    types:
      - opened
      - edited
      - reopened

jobs:
  label-component:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Parse issue form
        uses: stefanbuck/github-issue-parser@10dcc54158ba4c137713d9d69d70a2da63b6bda3  # v3.2.3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/bug-report.yml

      - name: Set formula label
        uses: redhat-plumbers-in-action/advanced-issue-labeler@b80ae64e3e156e9c111b075bfa04b295d54e8e2e  # v3.2.4
        with:
          issue-form: ${{ steps.issue-parser.outputs.jsonString }}
          section: _formulas
          token: ${{ secrets.GH_BOT_TOKEN }}
